<div id="menu">
    <div id="menuScore">
        <span>Your score: </span>
        <span id="score">0</span>
    </div>
    <div id="menuRounds">
    </div>
    <div id="menuRadar">
        <div id="radarMsg"></div>
        <div id="radarImg"></div>
    </div>
</div>
<div id="body">
    <canvas id="game" width="1024" height="658"></canvas>
</div>
<div id="infoOverlay">
    <div id="infoContainer"></div>
</div>
<div style="display: none;">
    <img id="sprite" src="/img/Sprite.png" width="465" height="326" />
</div>
