* {
    user-select: none;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
    background-color: black;
}

div#app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

div#menu {
    width: 100%;
    height: 76px;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-image: url(/img/menuBg.png);
    border-bottom: 4px solid #12d912;
}

div#menu div#menuScore {
    margin-left: 20px;
    background-color: black;
    padding: 6px;
    color: #12d912;
    border-radius: 20px;
    border: 4px solid #12d912;
    height: 22px;
    min-width: 180px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

div#menu div#menuRounds {
    background-color: black;
    padding: 6px;
    color: #9b5811;
    border-radius: 20px;
    border: 4px solid #9b5811;
    width: 150px;
    height: 22px;
}

div#menu div#menuRounds .magazine {
    display: none;
}

div#menu div#menuRadar {
    margin-right: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
    border: 4px solid #12d912;
    width: 300px;
    height: 52px;
    background: black;
    padding: 2px 10px;
}

div#menu div#menuRadar div#radarMsg {
    flex-grow: 1;
    color: #bd1111;
    text-align: center;
    font-size: 12px    
}

div#menu div#menuRadar div#radarImg {
    flex-grow: 0;
    margin: auto;
    display: block;
    height: 50px;
    width: 55px;
    background-image: url(/img/Sprite.png);
    padding: 0;
    margin: 0;
    border: none;
    visibility: hidden;
}

div#body {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-bottom: 24px;
}

div#body canvas#game {
    background-color: #020511;
    border-radius: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid #12d912;
    box-sizing: border-box;
    cursor: crosshair;
}

div#footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 4px 0;
    font-size: 0.8em;
    border-top: 4px solid #12d912;
    background-color:black;
}

div#footer div#version {
    font-size: 0.8em;
    text-align: center;
    color: white;
}

div#infoOverlay {
    z-index: 998;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(51, 48, 48, 0.9);
    visibility: hidden;
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0;
}

div#infoOverlay div#infoContainer {
    z-index: 999;
    position: absolute;
    min-height: 740px;
    min-width: 1032px;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 40px;
    color: #12d912;
    font-size: 2vmax;
}

div#infoOverlay div#infoContainer p {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.errorContainer {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-30%);
    width: 100%;
    color: #12d912;
}

.errorContainer .hugeMessage {
    font-size: 14em;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 4px var(--color-light), 0 0 10px var(--color-light);
}

.errorContainer .hugeMessageDesc {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 2px var(--color-light), 0 0 5px var(--color-light);
}

/* Basic responsiveness */
@media screen and (max-width: 800px),
        screen and (max-height: 600px) {
    body {
        font-size: 1.5vmax;
    }
}

@media screen and (max-width: 600px) {
    #menuScore, #menuRounds , #menuRadar {
        visibility: hidden;
    }
}
