<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= htmlWebpackPlugin.options.title %></title>
<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
<link rel="stylesheet" href="/css/main.css" />
<style>
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
</style>
</head>
<body>
<div id="app">
    <%= htmlWebpackPlugin.options.bodyContent %>
    <div id="footer">
        <div id="version">(<%= htmlWebpackPlugin.options.APP_VERSION %>) powered by <a href="https://www.xver.net/en/" target="_blank">xVer</a></div>
    </div>
</div>
</body>
</html>
